<%- include('partials/header') %>
<%- include('partials/bootstrapHeader') %>

<main>
    <div class="container py-4 book-display">
        <div class="row align-items-md-stretch">
        <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3">
            <form action="/issueBook" method="post">
                <h2><%=title%></h2>
                <p class="fw-normal fs-5">Author : <span class="fw-lighter text-capitalize"><%=author%></span></p>
                <p class="fw-normal fs-5">Edition : <span class="fw-lighter text-capitalize"><%=edition%></span></p>
                <p class="fw-normal fs-5">ISBN : <span class="fw-lighter text-capitalize"><%=isbn%></span></p> 
                <p class="fw-normal fs-5">Publisher : <span class="fw-lighter text-capitalize"><%=publisher%></span></p>
                <p class="fw-normal fs-5">Published : <span class="fw-lighter text-capitalize"><%=published%></span></p>
                <p class="fw-normal fs-5">No of books available: <span class="fw-lighter text-capitalize"><%=qty%></span></p>
                <input type="hidden" name="issueBookId" value="<%=bookId%>">
                <%if(user.role === "admin"){%>
                    <p class="fw-normal fs-5">Total Books : <span class="fw-lighter text-capitalize"><%=totalBooks%></span></p>
                <%}%>
                <button class="btn btn-secondary px-4" type="submit">Issue</button>
            </form>
        </div>
        </div>
    </div>
    </div>
</main>


<div class="home-wrapper similar-section">
    <%if(relatedBook.length > 1){%>
        <p class="fw-normal fs-2 text-center">Books from same publisher</p>
    <%}%>
    <div class="books-container">
        <%relatedBook.forEach((book) =>{%>
            <%if(book.title != title){%>
                <form class="form-books" action="/dashboard" method="post">
                <div class="books-details">
                        <p class="text-capitalize"><%=book.title%></p>
                        <p class="text-capitalize"><%=book.author%></p>
                        <a href="/book/<%=book.title%>" class="issueBook">View</a>
                    </div>
                </form>
                <%}%>
            <%})%>
    </div>
</div>

<%- include('partials/footer') %>