<%- include('partials/header') %>
<div class="home-wrapper">
    <p>Welcome <span class="text-capitalize"><%=name%>!</span></p>

        <div class="books-container">

            <!-- validate input -->
            <%if(messages.search){%>
                <p class="error-msg"><%=messages.search%></p>
            <%}%>

            <!-- validate issue -->
            <%if(messages.issue){%>
                <p class="issue-msg"><%=messages.issue%></p>
            <%}%>
            <!--search form-->
            <form action="/search" class="form-control d-flex search" method="post">
                <input class="form-control" required name="bookname" placeholder="Type to search...">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>

                <%for(var i = 0; i<=9; i++){%>
                    <form class="form-books" action="/dashboard" method="post">
                        <div class="books-details">
                            <p class="text-capitalize"><%=foundBooks[i].title%></p>
                            <p class="text-capitalize"><%=foundBooks[i].author%></p>
                       <a href="/book/<%=foundBooks[i].title%>" class="issueBook">View</a>
                    </div>
                </form>
            <%}%>
        </div>
    </div>

<%- include('partials/footer') %>