<%- include('partials/header') %>
<%- include('partials/bootstrapHeader') %>

<div id = "container">
    <%responses.forEach((response) =>{%>.
        <div class="card" style="width: 15rem; height:auto; margin:0.5%;">
            <img src="<%= response.urlToImage %>" alt="" height = "200" width ="239">
            <div class="card-body">
                <a href="<%= response.url%>" class="title"><%= response.title %></a>
            </div>
          </div>
    <%})%>
    
    
</div>
<%- include('partials/footer') %>