<%- include('../partials/header')%>
<%- include('../partials/bootstrapHeader') %>
<main>
    <div class="container py-4">

        <%foundDetails.forEach((detail) =>{%>
                <div class="p-3 rounded-3">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <p class="col-md-8 fs-4"><%=detail.title%></p>
                        <p class="col-md-8 fs-5"><%=detail.author%></p>
                        <p class="col-md-8 fs-5"><%=detail.isbn%></p>
                        <p class="col-md-8 fs-5 fw-normal">Issue Date : <span class="col-md-8 fs-5"><%=moment(detail.createdAt).format('DD-MM-YYYY')%></span></p>
                        <p class="col-md-8 fs-5 fw-normal">Return Date : <span class="col-md-8 fs-5"><%=moment(detail.createdAt).add(7, 'days').format('DD-MM-YYYY')%></span></p>
                        <div class="row">
                        <form action="/returnIssuedBook" method="post">
                            <div class="col col-lg-8 col-md-8">
                                <input type="hidden" name="studentId" value="<%=studentId%>">
                                <input type="hidden" name="bookIsbn" value="<%=detail.isbn%>">
                                <button type="submit" class="btn btn-primary" name="returnBook">Returned</button>
                                <button type="submit" class="btn btn-success" name="issueBook">Issued</button>
                            </div>
                        </form>

                            <div class="col col-lg-3 col-md-8">
                                <p class="col-md-8 fs-4 text-danger">Pending</p>
                                <%if(detail.charge){%>
                                    <p class="fs-5 text-danger">Charge : <span>&#8377;<%=detail.charge%></span></p>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
        <%})%>

    </div>
</main>
<%- include('../partials/footer')%>