<%- include('../partials/header') %>
<div class="home-wrapper">
    <div class="books-container">
        <!--search input-->
        <form action="/search" class="form-control d-flex search" method="post">
            <input class="form-control" required name="bookname" placeholder="Type to search...">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>      
        
        <!-- display searched book  -->
        <%foundBook.forEach((book) =>{%>
            <form class="form-books" action="/dashboard" method="post">
                <div class="books-details">
                <%if(user.role === "admin"){%>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><button type="submit" name="deleteButton" class="dropdown-item">Delete</button></li>
                            <input type="hidden" name="selectedBook" value="<%=book._id%>">
                        </ul>
                    </div>
                    <%}%>
                        <p><%=book.title%></p>
                        <p><%=book.author%></p>
                        <p><%=book.edition%></p>
                        <button type="submit" name ="issueBook" class="issueBook">Issue</button>
                    </div>
                </form>
            <%})%>
        </div>
</div>
<%- include('../partials/footer') %>